@font-face {
	font-family: 'Trench';
	src: url(./fonts/Trench.otf);
}

@font-face {
	font-family: 'Megaton';
	src: url(./fonts/Megaton.ttf);
}

body {
    font-family: 'Trench';
    background-color: rgb(226, 225, 225);
    /*
    background-image: url("./images/Evil_Eyes.jpg");
    background-attachment: fixed;
    background-position: center; 
    overflow: hidden;*/
}

#login-logo-img {
    height: 200px;
}

.login-logo {
	color: white;
	margin: 0 auto;
	font-family: "Megaton";
	font-size: 26px;
    font-weight: bold;
    -webkit-text-stroke: 0.05px rgb(109, 167, 253);
    width: 154px;

}

.navbar{
    background-color: #444444;
    border-color: #444444;
    border-radius: 0px;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 99;
}

.header-logo {
    position: absolute;
    width: 230px;
    height: 50px;
    left: 1%;
}

.header-logo img {
    display: inline-block;
    margin-top: -8px;
}

#header-logo-img {
    -webkit-filter: drop-shadow(1px 1px 0 rgb(109, 167, 253))
                    drop-shadow(-1px 1px 0 rgb(109, 167, 253))
                    drop-shadow(1px -1px 0 rgb(109, 167, 253))
                    drop-shadow(-1px -1px 0 rgb(109, 167, 253));

    filter: drop-shadow(1px 1px 0 rgb(109, 167, 253)) 
            drop-shadow(-1px 1px 0 rgb(109, 167, 253))
            drop-shadow(1px -1px 0 rgb(109, 167, 253))
               drop-shadow(-1px -1px 0 rgb(109, 167, 253));
}

.header-logo span{
    display: none;
    color: white;
    margin-left: 6px;
    margin-right: 0px;
    font-family: "Megaton";
    font-size: 26px;
    font-weight: bold;
    -webkit-text-stroke: 0.05px rgb(109, 167, 253);
}

.header-search-container {
	left: 36%;
	display: block;
	position: absolute;
	width: 300px;
    margin-top: -3px;
    margin-left: 0px;
    margin-right: 0px;
}

#search-box {
    display: none;
    font-family: 'Jura', sans-serif;
    width: 200px;
    color: white;
    font-size: 20px;
    padding-bottom: 0px;
    margin-top: 8px;
    font-weight: bold;
}

#search-box-mobile {
    display: inline-block;
    font-family: 'Jura', sans-serif;
    width: 100px;
    color: white;
    font-size: 20px;
    padding-bottom: 0px;
    margin-top: 8px;
    font-weight: bold;
}

#header-search-button {
    display: none;
    margin-top: 8px;
	margin-left: 10px;
	color: white;
	border-color: white;
    font-size: 14px;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    padding: 0px 5px;
} 
#header-search-button-mobile {
    display: inline-block;
    margin-top: 8px;
	margin-left: 10px;
	color: white;
	border-color: white;
    font-size: 14px;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    padding: 0px 5px;
}

#header-newthread-button {
    margin-top: 6px;
	margin-left: 0px;
	color: white;
	border-color: white;
    font-size: 14px;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    padding: 0px 5px;
    position: absolute;
    right: 1%;
}

.MuiInputBase-root-18:before {
    border-bottom: 1px solid rgba(212, 212, 212, 0.5) !important
}

.MuiInputBase-root-18:after {
    border-bottom: 2px solid rgb(252, 253, 255) !important
}


.threadlist-container {
	margin-right: 0px;
	margin-top: 50px;
	position: absolute;
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: scroll;
}

.threadlist-container::-webkit-scrollbar {
    width: 8px;
}
 
.threadlist-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
 
.threadlist-container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.threadlist-error {
    width: 180px;
    font-family: 'Jura', sans-serif;
    font-size: 24px;
    margin-left: calc(50% - 90px);
    margin-top: 10px;
}

.threadlist {
    margin-left: calc(20%);
}

.threadlist-threads {
    width: 70%;
    margin: 5px;
    border-style: solid;
}

.threadlist-card-header {
    margin-left: -30px;
    
}

.MuiTypography-headline-121 {
    font-size: 18px !important;
    font-family: 'Work Sans', sans-serif !important;
}

.MuiTypography-body1-125 {
    font-size: 12px !important;
    font-family: 'Work Sans', sans-serif !important;
}

.threadlist-user {
    position: absolute;
    right: 14%;
    font-size: 14px !important;
    font-family: 'Jura', sans-serif !important;
    font-weight: bold !important;
}

.thread-content-text {
    font-size: 14px !important;
}

.empty {
    height: 40px;
}

.thread-content {
    position: relative;
}

.threadlist-expand-icons {
    position: absolute;
    right: 5%;
}

.thread-information {
    position: relative;
}

.thread-options {
    position: absolute;
    width: 140px;
    bottom: -14px;
    right: -36px;
}

#thread-options-edit {
    font-size: 15px;
    font-family: 'Jura', sans-serif !important;
    font-weight: bold;
    padding: 1px 1px;
    margin-right: 4px;
}

#thread-new-window-upload-icon {
    margin-left: 4px;
}

#thread-image {
    height: 100px;
    margin-bottom: 10px;
}

#thread-edit-window-title h2 {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
}

#thread-edit-window-text {
    font-size: 14px !important;
    font-family: 'Work Sans', sans-serif;
}

#edit-title, #edit-content {
    font-size: 16px !important;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.1em;
}

.thread-edit-window-label label {
    font-size: 14px !important;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
}

#thread-new-window-title h2 {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
}

#thread-new-window-text {
    font-size: 14px !important;
    font-family: 'Work Sans', sans-serif;
}

#new-title, #new-content {
    font-size: 16px !important;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.1em;
}

.thread-new-window-label label {
    font-size: 14px !important;
    font-family: 'Jura', sans-serif !important;
}

#thread-window-button {
    font-size: 16px;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
}

#thread-window-login-button {
    font-size: 16px;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    color: white;
    border-color: white;
    margin-left: 2px;
    margin-right: 2px;
}

.thread-window-login-input {
    margin-top: 10px;
    font-size: 16px !important;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
}

.thread-window-login-input input {
    width: 160px;
    margin-left: calc(50% - 80px);
}

.thread-window-button-container {
    margin-top: 10px;
    margin-left: calc(50% - 82px);
}

.styles_modal__gNwvD {
    background-color: #444444;
    
}

.styles_overlay__CLSq- {
    background: rgba(0, 0, 0, 0.80);
}

#login-logo-img {
    -webkit-filter: drop-shadow(1px 1px 0 rgb(109, 167, 253))
                    drop-shadow(-1px 1px 0 rgb(109, 167, 253))
                    drop-shadow(1px -1px 0 rgb(109, 167, 253))
                    drop-shadow(-1px -1px 0 rgb(109, 167, 253));

	filter: drop-shadow(1px 1px 0 rgb(109, 167, 253)) 
	        drop-shadow(-1px 1px 0 rgb(109, 167, 253))
		    drop-shadow(1px -1px 0 rgb(109, 167, 253))
       		drop-shadow(-1px -1px 0 rgb(109, 167, 253));
}

@media screen and (min-width: 992px) {
    .header-logo span{
        display: inline-block;
    }

    #search-box {
        display: inline-block;
    }
    
    #search-box-mobile {
        display: none;
    }

    .header-search-container {
        left: 43%;
        width: 400px;
    }
    
    .MuiInputBase-root-18:before {
        border-bottom: 1px solid rgba(212, 212, 212, 0.5) !important
    }
    
    .MuiInputBase-root-18:after {
        border-bottom: 2px solid rgb(252, 253, 255) !important
    }
    
    .threadlist-container {
        margin-right: 0px;
        margin-top: 50px;
        position: absolute;
        width: 100%;
        height: calc(100% - 50px);
        overflow-y: scroll;
    }
    
    .threadlist-container::-webkit-scrollbar {
        width: 8px;
    }
     
    .threadlist-container::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    }
     
    .threadlist-container::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
    
    .threadlist {
        margin-left: calc(50% - 400px);
    }
    
    .threadlist-threads {
        width: 800px;
        margin: 5px;
    }

    #header-search-button {
        display: inline-block;
    } 

    #header-search-button-mobile {
        display: none;
    }
    
}

